:root[data-theme="dark"] {
	--color-black: #000000;
	--color-white: #ffffff;

	--background-color-primary: #1f1f1f;
	--background-color-secondary: #3a3d3f;
	--background-color-tertiary: #153d57;

	--text-color-primary: #e8e8e8;
	--text-color-secondary: #ffffff;
	--text-color-tertiary: #000000;
	--text-color-heading: #ffffff;

	--color-border-primary: #ffffff;

	--color-accent: #0075c7;

	--shadow-card: 0 1px 4px 2px rgba(171, 171, 171, 0.1);
}
