@import "@fontsource/fira-mono";
@import "./src/lib/style/variables/layout";
@import "./src/lib/style/themes/dark";
@import "./src/lib/style/themes/light";

:root {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	--font-mono: "Fira Mono", monospace;

	--main-padding: 1rem;
	--main-side-padding: calc($borderContentWidth + 0.5rem);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--background-color-primary);
	overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ol,
ul {
	margin-top: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: var(--text-color-heading);
}

h1 {
	font-size: 2.4rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.4rem;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 1rem;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-accent);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

pre {
	padding: 0.5em;
	font-size: 16px;
	font-family: var(--font-mono);
	color: var(--text-color-primary);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	overflow-x: auto;
}

input,
button {
	font-family: inherit;
	font-size: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
